<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
        arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\target\gs4tr-projectdirector-adaptors-mindtouch-connect-1.0.0_RC1.jar&quot; &quot;%HOME%\site\wwwroot\src\main\resources\application.properties&quot;">
    </httpPlatform>
  </system.webServer>
</configuration>
